doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title URLShortenNode
		// CSS
		link(rel='stylesheet', type='text/css', href='css/normalize.css')
		link(rel='stylesheet', type='text/css', href='css/skeleton.css')
		link(rel='stylesheet', type='text/css', href='css/style.css')
		// Meta Tags
		meta(name='viewport', content='width=device-width, initial-scale=1 user-scalable=no')
	body
		// Body Content
		.container
			.row
				h1 URL Shortener
				p Insert a link below to have it shortened!
				input.u-full-width.linkInput(type='text', placeholder='Link')
				button.u-full-width.label-body.button-primary(onClick='createLink()') Shorten
				.footer
					hr
					p Made by 
						a(target='blank_', href='http://github.com/seven11nash') @seven11nash
		// JS
		script(src='/js/jquery.min.js')
		script(src='/js/createLink.js')