doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title URLShortenNode &raquo; stats
		// CSS
		link(rel='stylesheet', type='text/css', href='/css/normalize.css')
		link(rel='stylesheet', type='text/css', href='/css/skeleton.css')
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700')
		link(rel='stylesheet', type='text/css', href='/css/style.css')
		// JS
		// script(rel='preload', src='/js/jquery.min.js')
		// script(rel='preload', src='/js/createLink.js')
		// Meta Tags
		meta(name='viewport', content='width=device-width, initial-scale=1 user-scalable=no')
	body
		// Body Content
		.container
			.row.statsPage
				h1 URL Stats
				.row
					a.bold(href=shortUrl)!= shortDisplayUrl
				p.u-full-width Times this url has been visited: 
					b!= stats
				p.u-full-width Original link: 
					a(href=shortUrl)!= url
				.footer
					hr
					p Made by 
						a(target='blank_', href='http://github.com/seven11nash') @seven11nash